### Global default owner for anything not matched later
*                                                      @AnicJov


### Root files
/LICENSE                                               @AnicJov
/README.md                                             @AnicJov


### Auto setup scripts

# SADX Python Installer
/Auto\ setup\ scripts/sadx-installer-python/**         @AnicJov


### Manual setup guides

# (Outdated) Lutris Setup Guide
/Manual\ setup\ guides/(Outdated)\ Lutris\ setup/**    @AnicJov

# Lutris setup (Nanami)
/Manual\ setup\ guides/Lutris\ setup\ (Nanami)/**      @NanamiTV

